<header>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand font-weight-bold" href="/"><img src="/images/logo.png" alt="Twello Logo"
                    height="32">&nbsp;
                Twello</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <% if(!isLoggedIn) { %>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <!-- <a href="#" class="navbar-brand mb-0 h1">Twello</a> -->
                <ul class="navbar-nav ml-auto">
                    <li class="navbar-item ">
                        <a href="/login" class=" btn-lg btn-outline-primary">Login</a>
                    </li>
                    <li class="navbar-item ">
                        <a href="/signup" class="btn-lg btn-outline-primary">Signup</a>
                    </li>

                </ul>
            </div>
            <% } else {%>

            <div class="collapse navbar-collapse ml-auto" id="navbarNavAltMarkup">
                <!-- <a href="#" class="navbar-brand mb-0 h1">Twello</a> -->
                <p class="navbar-text lead m-0">Welcome! <%= userName %> </p>
                <ul class="navbar-nav ml-auto mx-0">
                    <% if(!hasTwitter){ %>
                    <li class="mx-2">
                        <i class="fa-lg fab fa-twitter text-secondary"></i>
                        <a class="navbar-text">Twitter Not connected</a>
                    </li>
                    <li class="connect mx-1">
                        <a class="twitter button" href="/oauth/twitter">
                            <div class="twitter-icon button-icon"></div>
                            connect Twitter
                        </a>
                    </li>
                    <% }else{ %>
                    <li class="mx-2 my-1">
                        <i class="fa-lg fab fa-twitter" style="color: #00acee;"></i>
                        <a class="navbar-text" style="color: #00acee;" href="https://twitter.com/" +
                            <%= twitterUserName %> target="_blank">@<%= twitterUserName %> </a>
                    </li>
                    <li class="connect mx-1">
                        <a class="twitter button" href="/oauth/twitter?mode=new"
                            onclick="return confirm('Are you sure?')">
                            <div class="twitter-icon button-icon"></div>
                            Another Account
                        </a>
                    </li>
                    <% } %>
                    <li class="navbar-item my-2">
                        <a href="list" class=" btn-lg btn-outline-primary">MyTodos</a>
                    </li>
                    <li class="navbar-item my-2">
                        <a href="api/logout" class=" btn-lg btn-outline-primary">Logout</a>
                    </li>
                </ul>
            </div>
            <% } %>
        </nav>
    </div>
</header>